<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 offset-xl-1">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/ordertracking">Track an order</a></li>
                </ul>
            </div>
            <div class="col-sm-3 offset-xl-1">
                <h5>Sell with us</h5>
                <ul>
                    <li><a href="/seller/signup">Sign up to sell</a></li>
                    <li><a href="/seller">Login to seller Dashboard</a></li>
                </ul>
            </div>
            <div class="col-sm-3 offset-xl-1">
                <h5>About us</h5>
                <ul>
                    <li><a href="/about">The Developers</a></li>
                    <li><a href="/faqs">FAQS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 A110</p>
    </div>
</footer>