{% extends 'layout.html' %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/local.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/styler.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
    <div class="row">


	<!-- </header>#masthead -->

	<div id="content" class="site-content">


        <div class="container mt40" id="brands">
        
          <div class="col-lg-12 text-center">
            <h1 class="mb20">FAQs</h1>
            <p class="mb40 subs">
        If you have a question about something, it’s most likely covered below. If you can’t find what you’re looking for get in touch and we’ll help if we can. 
        
        
        </p>
            
            </div>
            
            
            </div> 
            
            <div class="text-center">
            <h2 class="mb20">General Enquires</h2>
            
            </div>
            <div class="container mt40">
        
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 How does A110 Organic shop Marketplace work?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
               <p> A110 Organic shop is an online marketplace. Each seller is independent and applies to open their shop with us. They operate as independent sellers under the Organics brand. We check that the products they sell are natural, organic and ethically produced and that they match the Organics brand ethos.</p><p>
        
        We work with Sellers to deliver the best possible service by allowing them to manage their businesses the way they want to, while following Organics standards. This means that every shop will be unique when it comes to individual terms covering delivery and returns & refunds policies. Before you purchase from, you should read that seller’s terms to ensure a satisfactory purchase as they may differ from another seller.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 How do I search for a specific product or brand?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
               <p> We have provided a search bar at the top of our site to make it easier for you to run a search. Simply enter what you’re looking for and go. If it helps, you might like to use our product filter to refine your search.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I purchase a product?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
             <p>Browse products or brands. To purchase a product simply click the ‘Add to Cart’ button for the product or products of your choice to send them to your cart. When you have finished shopping and have got what you want, go to checkout and proceed with our step-by-step checkout procedure to complete your purchase.</p>
              </div>
            </div>
          </div>
          
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                What do I need to register for an organic shop Marketplace account. And what are the benefits?
                </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
              <div class="panel-body">
             <p>To register for your Organic shop account all you need to provide is your e-mail address. Or you can sign in through your Facebook account if you would prefer this option.</p><p> 
        The benefits of having a customer account with A110 Organic shop are quick and easy checkouts. It also enables you to personalise your shopping and check your order status at any time.  And you will receive our monthly newsletter with latest offers, new products and sellers and links to the months magazine features.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading5">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              How do I confirm my Organic shop Marketplace account?
                </a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
              <div class="panel-body">
             <p>To confirm your Organic shop account you’ll get an email containing a link: click the link and we’ll confirm your account is ready to go.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading6">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
             Why do I need to have an email address to checkout?
                </a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
              <div class="panel-body">
             <p>Ghana legislation requires that we keep our customers informed of any transactions or orders that they make. In order to do this we need your email to pass on to our sellers, as it’s the most effective way to keep you up-to-date with the progress of your order(s).</p><p>
        We will use it to send you our newsletter so you’re informed of any new Sellers who join the Organic shop community. Your security is a matter of paramount importance to us. You can be confident that your personal details will never be passed on to any third party.</p>
              </div>
            </div>
          </div> 
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading7">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
             I’ve forgotten my Organic shop Marketplace account password. How do I reset it?
                </a>
              </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
              <div class="panel-body">
             <p>To reset your password go to the sign in page and click ‘Forgotten your password?’ You will then be asked to enter your email address to start the process of changing your password. You will receive an email from us containing a link. Click the link and follow the steps..</p>
              </div>
            </div>
          </div> 
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading8">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
            I want to report a problem. How can I do this?
                </a>
              </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
              <div class="panel-body">
             <p>To report your problem please go to the contact us page and send us an email. We want to help resolve any issue you’re having quickly.</p>
              </div>
            </div>
          </div>
        </div>
          
        
        </div>
        
        
           <div class="text-center">
            <h2 class="mb20">Your Orders</h2>
            
            </div>
            <div class="container mt40">
        
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          
         
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading9">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                How do I contact the seller about my order?
                </a>
              </h4>
            </div>
             <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
              <div class="panel-body">
               <p> Once your order has been processed you will be able to contact the Seller by signing into your account, selecting the order you want and selecting the ‘start communications’ button. </p><p>
        This will alert the Seller they have your messages and they shall reply via the online system. We encourage our sellers to deal with problems quickly, but please be patient if you don’t get a response immediately. If you still haven’t heard anything in 48 hours, let us know and we can try to help.</p>
              </div>
            </div>
          </div>
          
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading10">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                How do I contact the seller about my order?
                </a>
              </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
              <div class="panel-body">
               <p> Once your order has been processed you will be able to contact the Seller by signing into your account, selecting the order you want and selecting the ‘start communications’ button. </p><p>
        This will alert the Seller they have your messages and they shall reply via the online system. We encourage our sellers to deal with problems quickly, but please be patient if you don’t get a response immediately. If you still haven’t heard anything in 48 hours, let us know and we can try to help.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading11">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                How do I track my order?
                </a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
              <div class="panel-body">
               <p>You can track your order once you are logged into your account. Enter your order number into the ‘track my order(s)’ box located in the ‘My Account’ drop down menu. If you don’t remember you can go to ‘your orders’ and search from here. This will enable you to view the status of your order.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading12">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
               How long will my order take to arrive?
                </a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
              <div class="panel-body">
               <p>Each Organic shop seller manages their own delivery. When buying a product make sure you check the delivery chart available on the product page, to see how much and how long your delivery will take. Please remember, that if you have purchased products from multiple Sellers that the timings may vary and your items may arrive separately. Alternatively you can use the track my order system to keep up to date on when individual orders are scheduled to arrive. Again, we always encourage orders to be dispatched quickly and within the dispatch times given by sellers.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading13">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
               How do I amend my order?
                </a>
              </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
              <div class="panel-body">
               <p>To amend your order you can contact your Seller through the communications settings. To begin communicating with your Seller access your account and click on the relevant order and there will be a ‘start communications’ button where you can contact the Seller to amend you order. Remember to do it quickly because once the order has been dispatched your information cannot be changed.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading14">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
              How can I see my order history?
                </a>
              </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
              <div class="panel-body">
               <p>To view your order history all you need to do is sign in to your account and click ‘orders’, you can see all your orders and purchase history.</p>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading15">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
               How can I cancel my order?
                </a>
              </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
              <div class="panel-body">
               <p>As purchases are instant from Paypal, you will need to contact the Seller to cancel your order. To begin this process you can click on your order in ‘My Account’ and ‘start communication’ with your Seller.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading16">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
                Can I exchange my products with anything else on the site?
                </a>
              </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
              <div class="panel-body">
               <p>If a Seller does provide an exchange service you can only exchange products for other products provided by them. You will not be able to exchange for a product from a different seller. Make sure you read the Return and Refund policy before purchasing any products. This can be found on the product page or on the Seller’s shop front.</p>
              </div>
            </div>
          </div>
          
          
          
          </div>
          
          </div>
          
          
           <div class="text-center">
            <h2 class="mb20">Payments</h2>
            
            </div>
            <div class="container mt40">
        
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          
         
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading17">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
                Is your site secure?
                </a>
              </h4>
            </div>
             <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
              <div class="panel-body">
               <p>A110 Organic shop takes your security very seriously. Organics site security is managed by GeoTrust® - “the world's second largest digital certificate provider. More than 100,000 customers in over 150 countries trust GeoTrust to secure online transactions and conduct business over the Internet.” 
        Learn more about GeoTrust.</p>
              </div>
            </div>
          </div>
          
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading18">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
        What payment methods do you accept?        </a>
              </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
              <div class="panel-body">
               <p>We use PayPal. It is a secure, global company, simple to use and protects both buyers and sellers. Cards accepted by PayPal include: Visa/Delta/Electron, Mastercard/Eurocard, Maestro & American Express. ‘Shop with peace of mind’ Learn more about PayPal.</p>
              </div>
            </div>
          </div>
          
          </div>
          
          </div>
          
          
          
           <div class="text-center">
            <h2 class="mb20">Terms &amp; Conditions</h2>
            
            </div>
            <div class="container mt40">
        
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          
         
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading19">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
                Why do Organic shop and sellers have separate Terms & Conditions?
                </a>
              </h4>
            </div>
             <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
              <div class="panel-body">
               <p>Both Sellers and Organics have their own individual Terms & Conditions and it’s best to read these prior to confirming a purchase. Our sellers are independent retailers who operate shops under the Organics brand. This model means Organics can actively encourage and support small and micro sellers as well as bigger brands, and sustain the organic, natural and ethical market without swallowing up small businesses and making then unviable.</p>
              </div>
            </div>
          </div>
          
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading20">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
        What are your Terms &amp; Conditions?</a>
              </h4>
            </div>
            <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
              <div class="panel-body">
               <p>Go to A110 Organic shop Terms of Use to read more, and check out Seller's Terms and Conditions before ordering.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading21">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
        What is your Delivery Policy?</a>
              </h4>
            </div>
            <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
              <div class="panel-body">
               <p>Go to A110 Organic shop Terms of Use to read more, and check out Seller's <a href="/terms-and-conditions">Terms and Conditions</a> before ordering.</p>
              </div>
            </div>
          </div>
          
           <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading22">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collaps22">What are your Return and Refund Policy?</a>
              </h4>
            </div>
            <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
              <div class="panel-body">
               <p>Go to  Organics Return & Refund Policy and check the Seller's <a href="/delivery-policy">return &amp; refund policy</a> before ordering.</p>
              </div>
            </div>
          </div>
          
          </div>
          
          </div>
        
           <br><br><br>
      </div>		
        </div>
        </div>

        <!---------Get In Touch------>

        <section id="contact">
          <div class="container">
              <h1>Get In Touch</h1>
              <div class="row">
                  <div class="col-md-6">
                  <form class="contact-form">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="form-group">
                          <input type="number" class="form-control" placeholder="Phone Number">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Send Message</button>
                  </form>
                  </div>
                  <div class="col-md-6 contact-info">
                   <div class="follow">
                       <b>Address:</b><i class="fa fa-map-marker"></i> Ayeduase Road, Kumasi, GH
                   </div>
                      <div class="follow">
                          <b>Phone:</b><i class="fa fa-phone"></i> +233 501 656 945
                      </div>
                      <div class="follow">
                          <b>Email:</b><i class="fa fa-envelope-o"></i> a110organicshop@gmail.com
                      </div>
                      <div class="follow"><label>
                          <b>Get Social:</b></label>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-instagram"></i></a>
      
                      </div>
                     </div>
              </div>
          </div>
      </section>

     
{% endblock %}